:root {
	--font-family: 'Muller';

	--svg-wrapper-color: #292b30;
	--ligth: #fff;
	--bg-body: #1a1c21;
	--gray: #393c43;
	--location-color: #f69020;
	--black: #000;

	--container-w: 114.3rem; //1830px
	--container-p: 1rem;
}
